.powermenu {
  background-color: #1f1f28;
  border: 2px solid #ffa066;
}

.powermenu-container {
  padding: 5rem;
}

.powermenu-button {
  font-size: 10rem;
  color: #dcd7ba;
  padding: 0 5rem;
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;

  &:hover {
    color: #dca561;
  }

  &:active {
    color: #c34043;
  }
}
